.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.scroll-button {
  background-color: #000;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.scroll-button:hover {
  background-color: #555;
}
